.App {
  text-align: center;
}

h2 {
  margin: 0px;
}

p {
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.full-w {
  width: 100%;
}

.flex {
  display: flex;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.gap {
  gap: 3rem
}

.margin-bottom {
  margin: 1rem;
}

.m-top{
  margin-top: 1rem;
}

